.errorlist {
  margin-top: 1rem;
}

.errorlist .fastoche-error-text {
  margin-top: 0;
}

.errorlist.nonfield {
  padding: 1rem;
}

.fastoche-header .fastoche-header__menu .fastoche-container {
  grid-template-areas: "l m t" "h h s";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}

div.fastoche-header__service {
  grid-area: h;
}
div.fastoche-header__search {
  grid-area: s;
}

#fastoche-menu-close-btn {
  align-items: flex-start;
  grid-area: c;
}

div.fastoche-header__menu-links {
  grid-area: t;
}

.fastoche-nav {
  grid-area: m;
}

@media (max-width: 62em) {
  .fastoche-header .fastoche-header__menu .fastoche-container  {
    grid-template-areas: "c c" "m m" "t t" "l l" "h h";
  }
}

.fastoche-menu {
  top: 50%;
}