body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 50px;
    font-size: 2em;
}

form {
    margin: 20px 0;
}

#result {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
