[build-system]
requires = ["setuptools>=68.0"]
build-backend = "setuptools.build_meta"

[project]
name = "makepyz"
version = "0.0.1b23"
description = "a new kind of make tool"
readme = "README.md"
license = { text = "MIT" }
requires-python = ">= 3.8"
keywords = [
  "git",
  "scm",
  "version",
]
authors = [
  { name = "Antonio Cavallo", email = "a.cavallo@cavallinux.eu" },
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
]
dependencies = [
  "typing-extensions",
  "jinja2",
]


[project.urls]
Issues = "https://github.com/cav71/makepyz/issues"
Source = "https://github.com/cav71/makepyz"

[project.scripts]
makepyz = "makepyz.scripts.makepyzui:main"


[tool.setuptools.package-data]
'makepyz' = ['*.json', 'py.typed']


[tool.ruff]
target-version = "py39"
line-length = 88


[tool.ruff.format]
quote-style = "double"

[tool.ruff.lint]
ignore = []
select = ["F", "E", "W", "Q", "I001"]

[tool.ruff.lint.isort]
known-first-party = ["makepyz"]


[tool.mypy]
disallow_untyped_defs = false
follow_imports = "normal"
ignore_missing_imports = true
pretty = true
show_column_numbers = true
show_error_codes = true
warn_no_return = false
warn_unused_ignores = true
check_untyped_defs = true

[tool.coverage.run]
branch = true

[tool.coverage.paths]
source = [
  "src/",
]

[tool.coverage.report]
exclude_lines = [
  "no cov",
  "if __name__ == .__main__.:",
  "if TYPE_CHECKING:",
]

[tool.pytest.ini_options]
markers = [
    "manual: marks tests unsafe for auto-run (eg. better run them manually)",
]
